<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>order_titles</key>
	<array>
		<string>child_catalog_name</string>
		<string>taste</string>
		<string>fitting_crowd</string>
		<string>cooking_method</string>
		<string>effect</string>
	</array>
	<key>child_catalog_name</key>
	<dict>
		<key>title</key>
		<string>中华菜系</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>川</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>湘</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>粤</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>鲁</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>徽</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>闽</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>浙</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>苏</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>其他</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>taste</key>
	<dict>
		<key>title</key>
		<string>口味分类</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>苦</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>辣</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>酸</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>甜</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>咸</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>鲜</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>淡</string>
				<key>iconName</key>
				<string></string>
				<key>hlIconName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>fitting_crowd</key>
	<dict>
		<key>title</key>
		<string>人群分类</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>婴幼儿</string>
				<key>iconName</key>
				<string>search_crowd_baby</string>
				<key>hlIconName</key>
				<string>search_crowd_baby_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>儿童</string>
				<key>iconName</key>
				<string>search_crowd_child</string>
				<key>hlIconName</key>
				<string>search_crowd_child_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>女性</string>
				<key>iconName</key>
				<string>search_crowd_woman</string>
				<key>hlIconName</key>
				<string>search_crowd_woman_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>孕妇</string>
				<key>iconName</key>
				<string>search_crowd_pregnant</string>
				<key>hlIconName</key>
				<string>search_crowd_pregnant_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>产妇</string>
				<key>iconName</key>
				<string>search_crowd_puerpera</string>
				<key>hlIconName</key>
				<string>search_crowd_puerpera_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>男性</string>
				<key>iconName</key>
				<string>search_crowd_man</string>
				<key>hlIconName</key>
				<string>search_crowd_man_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>老年人</string>
				<key>iconName</key>
				<string>search_crowd_aged</string>
				<key>hlIconName</key>
				<string>search_crowd_aged_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>糖尿病者</string>
				<key>iconName</key>
				<string>search_crowd_diabetes</string>
				<key>hlIconName</key>
				<string>search_crowd_diabetes_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高血压病者</string>
				<key>iconName</key>
				<string>search_crowd_hypertension</string>
				<key>hlIconName</key>
				<string>search_crowd_hypertension_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高血脂病者</string>
				<key>iconName</key>
				<string>search_crowd_hyperlipidemia</string>
				<key>hlIconName</key>
				<string>search_crowd_hyperlipidemia_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>肠胃病者</string>
				<key>iconName</key>
				<string>search_crowd_gastroenterology</string>
				<key>hlIconName</key>
				<string>search_crowd_gastroenterology_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>一般人群</string>
				<key>iconName</key>
				<string>search_crowd_general</string>
				<key>hlIconName</key>
				<string>search_crowd_general_hl</string>
			</dict>
		</array>
	</dict>
	<key>cooking_method</key>
	<dict>
		<key>title</key>
		<string>烹饪分类</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>拌</string>
				<key>iconName</key>
				<string>search_cooking_mix</string>
				<key>hlIconName</key>
				<string>search_cooking_mix_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>腌</string>
				<key>iconName</key>
				<string>search_cooking_pickle</string>
				<key>hlIconName</key>
				<string>search_cooking_pickle_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>卤</string>
				<key>iconName</key>
				<string>search_cooking_brine</string>
				<key>hlIconName</key>
				<string>search_cooking_brine_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>炒</string>
				<key>iconName</key>
				<string>search_cooking_fry</string>
				<key>hlIconName</key>
				<string>search_cooking_fry_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>焖</string>
				<key>iconName</key>
				<string>search_cooking_braised</string>
				<key>hlIconName</key>
				<string>search_cooking_braised_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蒸</string>
				<key>iconName</key>
				<string>search_cooking_steam</string>
				<key>hlIconName</key>
				<string>search_cooking_steam_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>煎</string>
				<key>iconName</key>
				<string>search_cooking_decoct</string>
				<key>hlIconName</key>
				<string>search_cooking_decoct_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>炸</string>
				<key>iconName</key>
				<string>search_cooking_deep_fry</string>
				<key>hlIconName</key>
				<string>search_cooking_deep_fry_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>炖</string>
				<key>iconName</key>
				<string>search_cooking_stew</string>
				<key>hlIconName</key>
				<string>search_cooking_stew_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>煮</string>
				<key>iconName</key>
				<string>search_cooking_boil</string>
				<key>hlIconName</key>
				<string>search_cooking_boil_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>烤</string>
				<key>iconName</key>
				<string>search_cooking_roast</string>
				<key>hlIconName</key>
				<string>search_cooking_roast_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>冻</string>
				<key>iconName</key>
				<string>search_cooking_freeze</string>
				<key>hlIconName</key>
				<string>search_cooking_freeze_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>泡</string>
				<key>iconName</key>
				<string>search_cooking_soak</string>
				<key>hlIconName</key>
				<string>search_cooking_soak_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>榨汁</string>
				<key>iconName</key>
				<string>search_cooking_juice</string>
				<key>hlIconName</key>
				<string>search_cooking_juice_hl</string>
			</dict>
		</array>
	</dict>
	<key>effect</key>
	<dict>
		<key>title</key>
		<string>功效分类</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>增强免疫</string>
				<key>iconName</key>
				<string>search_effect_zhengqiangmianyi</string>
				<key>hlIconName</key>
				<string>search_effect_zhengqiangmianyi_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>提神健脑</string>
				<key>iconName</key>
				<string>search_effect_tishen</string>
				<key>hlIconName</key>
				<string>search_effect_tishen_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>瘦身排毒</string>
				<key>iconName</key>
				<string>search_effect_shoushen</string>
				<key>hlIconName</key>
				<string>search_effect_shoushen_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>养颜美容</string>
				<key>iconName</key>
				<string>search_effect_meirong</string>
				<key>hlIconName</key>
				<string>search_effect_meirong_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>养心润肺</string>
				<key>iconName</key>
				<string>search_effect_yangxin</string>
				<key>hlIconName</key>
				<string>search_effect_yangxin_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>保肝护肾</string>
				<key>iconName</key>
				<string>search_effect_baogan</string>
				<key>hlIconName</key>
				<string>search_effect_baogan_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>开胃消食</string>
				<key>iconName</key>
				<string>search_effect_kaiwei</string>
				<key>hlIconName</key>
				<string>search_effect_kaiwei_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>益气补血</string>
				<key>iconName</key>
				<string>search_effect_buxue</string>
				<key>hlIconName</key>
				<string>search_effect_buxue_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>安神助眠</string>
				<key>iconName</key>
				<string>search_effect_anshen</string>
				<key>hlIconName</key>
				<string>search_effect_anshen_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>降低血压</string>
				<key>iconName</key>
				<string>search_effect_jiangxueya</string>
				<key>hlIconName</key>
				<string>search_effect_jiangxueya_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>降低血糖</string>
				<key>iconName</key>
				<string>search_effect_jiangxuetang</string>
				<key>hlIconName</key>
				<string>search_effect_jiangxuetang_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>降低血脂</string>
				<key>iconName</key>
				<string>search_effect_jiangxuezhi</string>
				<key>hlIconName</key>
				<string>search_effect_jiangxuezhi_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>清热解毒</string>
				<key>iconName</key>
				<string>search_effect_qingre</string>
				<key>hlIconName</key>
				<string>search_effect_qingre_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>补铁</string>
				<key>iconName</key>
				<string>search_effect_butie</string>
				<key>hlIconName</key>
				<string>search_effect_butie_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>补锌</string>
				<key>iconName</key>
				<string>search_effect_buxin</string>
				<key>hlIconName</key>
				<string>search_effect_buxin_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>补钙</string>
				<key>iconName</key>
				<string>search_effect_bugai</string>
				<key>hlIconName</key>
				<string>search_effect_bugai_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>增高助长</string>
				<key>iconName</key>
				<string>search_effect_zhengao</string>
				<key>hlIconName</key>
				<string>search_effect_zhengao_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>增强记忆</string>
				<key>iconName</key>
				<string>search_effect_zhangjiyi</string>
				<key>hlIconName</key>
				<string>search_effect_zhangjiyi_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>益智健脑</string>
				<key>iconName</key>
				<string>search_effect_yizhi</string>
				<key>hlIconName</key>
				<string>search_effect_yizhi_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>保护视力</string>
				<key>iconName</key>
				<string>search_effect_shili</string>
				<key>hlIconName</key>
				<string>search_effect_shili_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>健脾止泻</string>
				<key>iconName</key>
				<string>search_effect_jianpi</string>
				<key>hlIconName</key>
				<string>search_effect_jianpi_hl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>防癌抗癌</string>
				<key>iconName</key>
				<string>search_effect_kangai</string>
				<key>hlIconName</key>
				<string>search_effect_kangai_hl</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
